Source: drm-client
Section: main
Priority: optional
Maintainer: Hakjoo Ko <hakjoo.ko@samsung.com>, Mahendra Kumar Prajapat <mahendra.p@samsung.com>
Uploaders: Harsha Shekar <h.shekar@samsung.com> Mahendra Kumar Prajapat <mahendra.p@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, capi-base-common-dev
Standards-Version: 3.7.2

Package: drm-client-0
Section: main
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DRM client library package 

Package: drm-client-dev
Section: main
Architecture: any
Depends: drm-client-0 (= ${Source-Version}), dlog-dev, capi-base-common-dev
Description: DRM client library development package

Package: drm-client-0-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, drm-client-0 (=${Source-Version})
Description: debug package of DRM client library
